body {
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    background:linear-gradient(0deg, rgba(34,193,195,1) 24%, rgba(253,187,45,1) 100%);
    color: black;
    margin: 3em;
  }
  
  strong {
    text-decoration: underline;
  }
  
  button {
    background:rgb(100,149,237);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 6px;
    font-size: 1.2em;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:active {
    background: grey;
    border-radius: 400px;
  }
  
  
  
  
  #result {
    margin-top: 20px;
  }